* {
  caret-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 20px;
  padding: 30px;
  max-width: 100%;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.weather-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: small;
  aspect-ratio: 1 / 1;
  max-width: 140px; 
  width: 100%;
}

.weather-icon {
  width: 40px;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .weather-icon {
    width: 30px;
  }
}